<p appElementTranslate
   [innerHTML]="'welcome' | translate"
   [elementTranslateSettings]="[
      {
        selector:'a',
        event: 'click',
        method: click
      },
      {
        selector: 'span',
        event: 'mouseover',
        method: mouseOverSpan
      }
    ]"
></p>

<div
  appElementTranslate
  [elementTranslateSettings]="[
      {
        customComponentString: 'customAnchor',
        selector:'app-custom-anchor',
        event: 'customClick',
        method: customClick,
        componentType: customAnchorComponent
      }
      ]"
>
</div>

